<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>专业排名</title>
		<meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/modules/code.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/modules/laydate/default/laydate.css">
	</head>
	<body>
		<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 907px;"> 
		   <div class="layui-fluid layui-bg-white" style="left: 1.02041%; top: 0%; width: 97.9611%; height: 1368.01px; padding: 1px; position: absolute;"> 
		    <div class="layui-row"> 
		     <div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; height: 46px; margin-bottom: 4px; background-color: rgb(26, 145, 133);text-align:center;　display:block;vertical-align: middle;"> 
		      <label style="font-size: 15px; font-weight: bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px; color: rgb(244, 241, 241);">赣州中专网</label> 
		     </div> 
		    </div> 
		    <ul class="layui-nav layui-bg-green" lay-shrink="all"> 
		     <li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;" href="../college/rank.html">院校排名</a> </li> 
		     <li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;" href="#">专业排名</a> </li> 
		     <li id="uuid46cecb9c-8087-462a-af1a-8b4d2fd111f2" class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;" href="../qa/index.html">招生问答</a> </li> 
		     <li id="uuid869e90bf-fba8-4d20-ac4e-c4c35640fe53" class="layui-nav-item"></li> 
		     <li id="uuidb7826605-54be-42b9-a2bf-b6a3408f2f99" class="layui-nav-item"></li> 
		    </ul> 
		    <div class="layui-row" style="height: 23.0114px; top: 0px; margin-top: 8px;"> 
		     <div class="layui-col-xs12 mc-ui-flex-start layui-col-lg12" style="height: 21px; background-color: rgb(255, 247, 247);"> 
		      <span class="layui-breadcrumb"> <a href="../index.html">首页</a> <a>列表</a> </span> 
		     </div> 
		    </div> 
			
		    <div class="layui-row" id="content" style="height: 208.011px; margin-top: 10px;"> 
			
		     <div class="layui-col-xs12 school-profession" style="height: 210px;"> 
		      <div class="layui-card"> 
		       <div class="layui-card-header mc-ui-flex-center school-name" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
		         <span></span>
		       </div> 
		       <div class="layui-card-body" style="height: 137.011px;"> 
		        <table class="layui-table"> 
		         <tbody> 
		          <tr> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">老年人服务与管理</a> </td> 
		           <td id="uuid70b50471-8b34-4f96-8597-243c3f1f6d94" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">美容美体</a> </td> 
		           <td id="uuidd97e05e1-0ba1-4b96-a6c0-adef2e1fadee" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">铁道运输管理</a> </td> 
		          </tr> 
		          <tr id="uuide9a9712a-0b4b-4dd7-8bbd-2198b40022dd"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">计算机应用</a> </td> 
		           <td id="uuide675c634-010f-490f-a87e-ac127f3b2753" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">学前教育</a> </td> 
		           <td id="uuid556ad34a-14c0-4818-a1d1-6549102de5a6" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">UI设计</a> </td> 
		          </tr> 
		          <tr id="uuidfe354fa7-397e-4ac2-a010-008e9281b68b"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">汽车应用与维修</a> </td> 
		           <td id="uuid002dd235-dbf5-4633-a6f2-8455fcf23d74" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">新能源汽车</a> </td> 
		           <td id="uuid7de8f177-3ba4-4064-9fc5-873f742f7403" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">高铁乘务</a> </td> 
		          </tr> 
		         </tbody> 
		        </table> 
		       </div> 
		      </div> 
		     </div> 
			 
			 
			 
		    <!-- <div class="layui-col-xs12" style="height: 210px;"> 
		      <div class="layui-card"> 
		       <div class="layui-card-header mc-ui-flex-center" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
		         赣州旅游职业学校 
		       </div> 
		       <div class="layui-card-body" style="height: 137.011px;"> 
		        <table class="layui-table"> 
		         <tbody> 
		          <tr> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">老年人服务与管理</a> </td> 
		           <td id="uuidbe7fa85e-7488-4399-a936-27addfeb3d7c" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">美容美体</a> </td> 
		           <td id="uuid89f918b0-ce3b-42b9-8be6-8610f81dbd34" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">铁道运输管理</a> </td> 
		          </tr> 
		          <tr id="uuid4e9fe29d-c15f-482e-9f93-4b2220bc6e68"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">计算机应用</a> </td> 
		           <td id="uuide6d6b818-19af-42ce-ba85-b356c51208ea" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">学前教育</a> </td> 
		           <td id="uuid7a83ebf0-0cb3-4923-824a-46ece8f343d4" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">UI设计</a> </td> 
		          </tr> 
		          <tr id="uuid0da2b41a-1c5d-4484-b282-21986821a5fa"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">汽车应用与维修</a> </td> 
		           <td id="uuid1078697d-1517-4436-be35-00740b1c9687" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">新能源汽车</a> </td> 
		           <td id="uuid83b08023-71f9-4144-bb42-c3d3f83d09c9" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">高铁乘务</a> </td> 
		          </tr> 
		         </tbody> 
		        </table> 
		       </div> 
		      </div> 
		     </div> 
		     <div class="layui-col-xs12" style="height: 210px;"> 
		      <div class="layui-card"> 
		       <div class="layui-card-header mc-ui-flex-center" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
		         赣州旅游职业学校 
		       </div> 
		       <div class="layui-card-body" style="height: 137.011px;"> 
		        <table class="layui-table"> 
		         <tbody> 
		          <tr> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">老年人服务与管理</a> </td> 
		           <td id="uuid2733f475-1456-4149-85c8-a28f4fb97955" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">美容美体</a> </td> 
		           <td id="uuiddc918351-c6d7-4a69-9d99-dc7c6defaa38" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">铁道运输管理</a> </td> 
		          </tr> 
		          <tr id="uuid2b6846c0-d749-498c-b2f7-0c3c9c26e1f8"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">计算机应用</a> </td> 
		           <td id="uuide174fecc-1e83-4536-a49e-d20422a0d3da" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">学前教育</a> </td> 
		           <td id="uuidc4d81835-6899-435e-8717-27877d0e2f37" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">UI设计</a> </td> 
		          </tr> 
		          <tr id="uuid44aa917e-2e61-46a8-bb76-8f205d879e79"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">汽车应用与维修</a> </td> 
		           <td id="uuid124a2872-297c-4394-9e1b-5d37491736a3" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">新能源汽车</a> </td> 
		           <td id="uuid719dc282-5ee4-43da-a782-38e765a2d9e5" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">高铁乘务</a> </td> 
		          </tr> 
		         </tbody> 
		        </table> 
		       </div> 
		      </div> 
		     </div> 
		     <div class="layui-col-xs12" style="height: 210px;"> 
		      <div class="layui-card"> 
		       <div class="layui-card-header mc-ui-flex-center" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
		         赣州旅游职业学校 
		       </div> 
		       <div class="layui-card-body" style="height: 137.011px;"> 
		        <table class="layui-table"> 
		         <tbody> 
		          <tr> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">老年人服务与管理</a> </td> 
		           <td id="uuid8a8c87a3-74a1-490d-b011-bc57c193b28e" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">美容美体</a> </td> 
		           <td id="uuidc7926718-b661-4a84-b6bc-75fd3cebfcbf" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">铁道运输管理</a> </td> 
		          </tr> 
		          <tr id="uuid6135e6b5-d836-4f43-8b26-c0e260af602b"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">计算机应用</a> </td> 
		           <td id="uuidc6b00763-cd7c-4963-b55e-46730c1be8a4" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">学前教育</a> </td> 
		           <td id="uuidb9b57fb1-9489-497c-8e2d-63ec9f52f0a6" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">UI设计</a> </td> 
		          </tr> 
		          <tr id="uuidcf2a4fd0-db43-4949-8f1f-fa6deb2faea8"> 
		           <td style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">汽车应用与维修</a> </td> 
		           <td id="uuida8a4b452-225a-42f8-a832-7540464b9791" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">新能源汽车</a> </td> 
		           <td id="uuidd8705064-0055-4a73-bc3a-08347411d9b9" style="width: 29.519%; font-weight: lighter; font-size: 2px;"> <a style="font-weight: lighter;" href="http://www.magicalcoder.com">高铁乘务</a> </td> 
		          </tr> 
		         </tbody> 
		        </table> 
		       </div> 
		      </div> 
		     </div> 
		    </div> -->
		   </div>
		  </div>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/layui/layui.all.js"></script>
		<script src="../../js/axios.js"></script>
		<script>
				const instance = axios.create({
					baseURL: 'http://127.0.0.1:80'
				});
			
				function collegeList(value, index, array) {
					if(index>0){
					 $(".school-profession:eq(" + (index-1)+ ")").after($(".school-profession")[0].outerHTML);
					}
					console.log(value.name);
					$(".school-name span:eq(" + index + ")").text(value.name);
					
					// $(".txt:eq(" + index + ") div div:eq(0) label").text(NoToChinese(index+1)+"、"+ value.name);
					// $(".txt:eq(" + index + ")  div div:eq(1) p").text(value.shortIntroduction);
					// $(".txt:eq(" + index + ")  div div:eq(2) img").attr("src", value.coverImg);		
				};
			
				function getCollegeList() {
			// $("#content div:eq(1)").append($("#txt").outerHTML);
					instance.post('/college/school/list1', {
			
						})
						.then(function(response) {
				
							response.data.rows.forEach(collegeList);
						})
						.catch(function(error) {
							console.log(error);
						});
				};
				window.onload = getCollegeList();
		</script>
	</body>
</html>
