<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>网上报名</title>
		<meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/modules/code.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui/css/modules/laydate/default/laydate.css">
	</head>
	<body>
		<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 907px;"> 
		   <div class="layui-fluid layui-bg-white" style="left: 0.680272%; top: 0%; width: 97.2789%; height: 1368.01px; padding: 1px; position: absolute;"> 
		    <div class="layui-row" style="height: 679px;"> 
		     <div class="layui-col-xs12 mc-ui-flex-center" style="height: 250px;"> 
		      <img style="width:50%;" src="../../upload/0f0264dc-b526-4935-ad5a-6760aad1f797.jpg" /> 
		     </div> 
		     <div class="layui-col-xs12" style="height: 721px;"> 
		      <div class="layui-row" style="height: 691px; font-weight: lighter;">
				  <table>
				  	<form action="http://localhost/college/applyInfo/add" method="POST" id="apply">
		       <div class="layui-col-xs12 mc-ui-flex-center" style="height: 45px;"> 
		        <label class="layui-form-label mc-ui-flex-center" style="width: 72.9682%; height: 16px; font-weight: bold; color: rgb(245, 6, 6); font-size: 19px;">江西省中等职业学校学生报名表</label> 
		       </div> 
		       <div class="layui-col-xs12 mc-ui-flex-center" style="height: 45px;"> 
		        <span class="mc-ui-geometry-char" style="height: 20px; width: 233px; color: rgb(255, 0, 0); font-size: 15px;">(温馨提示：带*号的是必填项)</span> 
		       </div> 
			   <!-- <table> -->
		       <div class="layui-col-xs12" style="height: 581px;"> 
		        <div class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 43px; position: absolute; left: 61.7021%; top: 17.5%; font-size: 15px;">姓名 *</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <input class="layui-input" style="position: absolute; left: 0%; top: -5%; width: 91.253%; height: 38px;" name="name" type="text" autocomplete="off" /> 
		         </div> 
		        </div> 
		        <div id="uuid18f5bc77-b709-42b7-b8a4-ad7ebe508847" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 43px; position: absolute; left: 61.7021%; top: 17.5%; font-size: 15px;">性别 *</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="magical-coder-tmp" style="position: absolute; left: 0.472813%; top: 0%; width: 18.1176%;"> <input name="sex" title="男" style="" type="radio" value="0" /></span> 
		          <span class="magical-coder-tmp" style="position: absolute; left: 35.6974%; top: 0%; width: 14.1176%;"> <input name="sex" title="女" style="" type="radio" value="1" /></span> 
		         </div> 
		        </div> 
		        <div id="uuid4b621f6c-dfab-4744-b9f9-a682acdd85cc" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">身份证 *</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <input class="layui-input" name="identifyCard" style="position: absolute; left: 0.70922%; top: -5%; width: 90.7801%;" type="text" autocomplete="off" /> 
		         </div> 
		        </div> 
				<div id="uuid4b621f6c-dfab-4744-b9f9-a682acdd85cc" class="layui-row" style="height: 43px;">
				 <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
				  <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">联系方式 *</span> 
				 </div> 
				 <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
				  <input class="layui-input" name="phone" style="position: absolute; left: 0.70922%; top: -5%; width: 90.7801%;" type="text" autocomplete="off" /> 
				 </div> 
				</div> 
		        <div id="uuiddca7837e-f548-4af5-b254-85dd7211a452" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">报读学校</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <div class="magical-coder-tmp mc-dragging-select" style="position: absolute; left: 1%; top: 5%; width: 49.1726%;"> 
		           <select style="" name="schoolId" id="schoolId">
					   <option value="-1">-请选择-</option>
					  <!-- <option value="0">选项A</option> 
					   <option value="1">选项B</option> --> 
					   </select> 
		          </div> 
		         </div> 
		        </div> 
		        <div id="uuid6edf49bd-f4a7-4fb6-b874-d565d83160d9" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">报读专业</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <div class="magical-coder-tmp mc-dragging-select" style="position: absolute; left: 1%; top: 5%; width: 49.1726%;"> 
		           <select style="" name="professionId" id="professionId">
					   <option value="-1">-请选择-</option>
					<!--   <option value="uuidb04d8512-2d10-4691-a8d1-3eba8e350935">选项A</option>
						<option value="uuid5b1e8e35-bc19-464d-b087-23064154e2d6">选项B</option> -->
						 </select> 
		          </div> 
		         </div> 
		        </div> 
		        <div id="uuid6d45444e-31ab-424f-bfee-4ec9843a87df" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">学生类别</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <div class="magical-coder-tmp mc-dragging-select" style="position: absolute; left: 1%; top: 5%; width: 49.1726%;"> 
		           <select style="" name="studentType"> 
				   <option value="-1">-请选择-</option>
				   <option value="0">初中毕业生</option> 
				   <option value="1">高中毕业生</option>
				   <option value="2">其他</option>
					</select> 
		          </div> 
		         </div> 
		        </div> 
		        <div id="uuid55b014a6-d028-46f3-be0b-ef44455b283d" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">毕业学校</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <input class="layui-input" name="graduationSchool" style="position: absolute; left: 1%; top: 4%; width: 90.5882%;" type="text" autocomplete="off" /> 
		         </div> 
		        </div> 
		        <div id="uuid1f369526-070c-4d32-b9e2-15006f894b0b" class="layui-row" style="height: 43px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">中考分数</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 42px;"> 
		          <input class="layui-input" name="midtermScore" style="position: absolute; left: 1%; top: 4%; width: 90.5882%;" type="text" autocomplete="off" /> 
		         </div> 
		        </div> 
		        <div id="uuid7ed5e56f-e0d9-43fb-83dd-9f09ed28ac91" class="layui-row" style="height: 128px;"> 
		         <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;"> 
		          <span class="mc-ui-geometry-char mc-ui-flex-end" style="height: 22px; width: 76px; position: absolute; left: 38.1295%; top: 17.5%; font-size: 15px;">备注</span> 
		         </div> 
		         <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane" style="height: 125px;"> 
		          <textarea class="layui-textarea" name="comment" style="position: absolute; left: 0.705882%; top: 11.9048%; width: 90.7801%; height: 45px;" placeholder="请输入内容" rows="50" cols="20" maxlength="200"></textarea> 
		         </div> 
		        </div> 
		        <div id="uuid3451970d-70b2-4719-829f-bdae6f8685d3" class="layui-row" style="height: 67px;"> 
		         <div class="layui-col-md6 mc-ui-absolute-pane layui-col-xs12" style="height: 42px;"> 
		          <a class="layui-btn layui-btn-lg" style="position: absolute; left: 40.7473%; top: -2.5%; width: 19.0813%;" onclick="add();">提交</a> 
		         </div> 
		        </div> 
		       </div> 
		      </div> 
		   
			   	
			   </form>
		   </table>
			 </div> 
		    </div> 
		   </div>
		  </div>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/layui/layui.all.js"></script>
		<script src="../../js/axios.js"></script>
		<script>
	
			const instance = axios.create({
				baseURL: 'http://127.0.0.1:80'
			});
				
				function add(){
					$("#apply").submit(); 
					// instance.post('/college/applyInfo/add', {
									
					// 		})
					// 		.then(function(response) {
					// 		//	response.data.rows.forEach(collegeList1);
					// 		console.log(response.data.rows);
					// 		})
					// 		.catch(function(error) {
					// 			console.log(error);
					// 		});
				}
				$(function () {
				    $("#schoolId").change(function () {
						$("#professionId").html("<option value=\"-1\">-请选择-</option>");
						instance.post('/college/school/list1', {
										
								})
								.then(function(response) {
									response.data.rows.forEach(collegeList1);
								})
								.catch(function(error) {
									console.log(error);
								});
						});
				    });
				function collegeList1(value, index, array) {
					//if(index>0){
						          //  $("#professionId").append("<option value=\"-1\"></option>");
					//$("#schoolId option:eq(" + (index-1)+ ")").after($("#schoolId option:eq(" + (index-1)+ ")").outerHTML);	
					//}
				//	$("#professionId").empty();     //清空city的下拉列表
					var schoolId=$("#schoolId").val();
					
					if(schoolId!=value.id){
					   // $("#professionId").html("<option value=\"-1\">-请选择-</option>");
					}else {
					    for(var i=0;i<value.professionList.length;i++){
					        // console.log(provinceArr[provinceID][i]);
					       //var option = document.createElement("option");  //加入option标签
					       //option.innerText=value.professionList[i].name;
							
					      //  $("#professionId").append(option);     //append方法直接加入内容 —— option变量包含html标签和内容
						//	$("#professionId").append("<option value=\"11SS1\">111S</option>");
						if(i>0){
							$("#professionId option:eq(" + (i-1)+ ")").after($("#professionId option")[i-1].outerHTML);
							// $("#professionId").append("<option value=\"-1\">aa</option>");
							console.log(i);
						}
							$("#professionId option:eq(" + i+ ")").text(value.professionList[i].name);
							$("#professionId option:eq(" + i+ ")").attr("value",value.professionList[i].id);
							 console.log(value.professionList[i].name);
					 }
					}	
				}
				function collegeList(value, index, array) {
					//var a = $(#schoolId option).innerHTML;
					// console.log($("#schoolId option:eq(0)").val())
					if(index>0){
						            $("#schoolId").append("<option value=\"-1\"></option>");
					//$("#schoolId option:eq(" + (index-1)+ ")").after($("#schoolId option:eq(" + (index-1)+ ")").outerHTML);	
					}
					//$("#schoolId option:eq(0)").after($("#schoolId option:eq(0)").outerHTML);
						
					$("#schoolId option:eq(" + (index+1)+ ")").text(value.name);
					$("#schoolId option:eq(" + (index+1)+ ")").attr("value",value.id);
				// 	$(".school-name span:eq(" + index + ")").text(value.name);
								
				// 	for( i=0;i<value.professionList.length;i++){
				// 		if(i<9){	
				// $(".tt:eq(" + index+ ")" + " tr:eq(" + parseInt((i+1)/3) + ")" + " td:eq(" + ((i+1)%3-1) + ") a").text(value.professionList[i].name);
				// $(".tt:eq(" + index+ ")" + " tr:eq(" + parseInt((i+1)/3) + ")" + " td:eq(" + ((i+1)%3-1) + ") a").attr("href","detail.html?id="+value.professionList[i].id);
				// 		}
				// 	}	
				};
				function getCollegeList() {
				$("#schoolId").append("<option value=\"-1\">-请选择-</option>");
						instance.post('/college/school/list1', {
				
							})
							.then(function(response) {
								response.data.rows.forEach(collegeList);
							})
							.catch(function(error) {
								console.log(error);
							});
					};
					window.onload = getCollegeList();
					// window.onload = test();
					// function test(){
					// $("#professionId option:eq(" + 0+ ")").text("aa");
					// $("#professionId option:eq(" + 0+ ")").attr("value","aa");	
					// $("#professionId option:eq(" + 1+ ")").text("bb");
					// $("#professionId option:eq(" + 1+ ")").attr("value","aa");	
					// }
			</script>
			
	</body>
</html>
